@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Trade+Winds&family=ZCOOL+QingKe+HuangYou&display=swap');
/* font-family: 'Lacquer', cursive;
font-family: 'Trade Winds', cursive;
font-family: 'ZCOOL QingKe HuangYou', cursive; */

h1{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    text-align: center;
    margin: 45px 0px;
}

.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myInput{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 20px;
    padding: 20px 30px;
    margin: 15px 0px;
    width: 50%;
    border: 2px solid gray;
    border-radius: 5px;
}

.btn{
    font-family: 'Trade Winds', cursive;
    background-color: #343434;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin: 25px 0px;
    padding: 15px 35px;
    cursor: pointer;
}